<div class="about">
    <h3>Here Is What Our ProGrads Have To Say</h3>
    <div class="container">
        <article>
            <img src="../../assets/download2.png" alt="">
            <p><span>PRAVESH, FSD0A0221</span> </p>
            <p>In my academics, I learnt only theoretical concepts of programming but ProGrad emphasized my coding knowledge by teaching me a different approach in solving all the coding problems.My mentor offered me excellent support by guiding us on each step to improve my progress.</p>
        </article>
        <hr>
        <article class="art">
            <img src="../../assets/download2.png" alt="">
            <p><span>ROBIN HOODA, FSD0B0001</span></p>
            <p>ProGrad not only helped me in utilizing my knowledge to the best of my capabilities but also nurtured my technical skills and competencies.
            </p>
        </article>
    </div>
</div>